coverage < 4.0.0
flake8 < 3.0.0
mock < 2.0.0
funcsigs
nose < 2.0.0
pinocchio < 1.0.0
python-coveralls < 3.0.0
requests >= 2.4.2, < 3.0.0
six>=1.9.0
sphinx-bootstrap-theme < 1.0.0
sphinxcontrib-httpdomain < 2.0.0
testtube < 1.0.0
